.app{
  background-color: rgb(158, 94, 17);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 2px solid black;
  margin-top: 200px;
}

.card{
  background-color: blueviolet;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  justify-content: space-between;
  gap: 10px;
}